@model HookHub.Hub.Models.CoreHookInfoModel
@section Scripts {

    <script>
        window.hookHubConfig = {
            apiUrl: '@Url.Action("Index", "Hook")',
            hubUrl: '@Model.HookConnection.HookHubNetURL',
            hookName: '@Model.HookConnection.HookName' + '-web'
        };
    </script>

    <script src="~/js/home-index.js" asp-append-version="true"></script>
    <script src="~/js/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/hub.js" asp-append-version="true"></script>

}

<link rel="stylesheet" href="~/css/home-index.css" asp-append-version="true" />

<div class="container-fluid">
    <div class="row g-3">
        <!-- ACTIONS -->
        <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
            <h5 class="mb-0">Actions</h5>

            <div class="d-flex gap-2">
                <button class="btn btn-warning" onclick="callHookAction('/Hub/PurgeDisconnections')">Clean Hub</button>
                <button class="btn btn-success" onclick="callHookAction('/Hook/Start')">Start Hook</button>
                <button class="btn btn-danger" onclick="callHookAction('/Hook/Stop')">Stop Hook</button>
                <button class="btn btn-warning" onclick="callHookAction('/Hook/Restart')">Restart Hook</button>
            </div>
        </div>

        <hr />

        <!-- HOOK INFO -->
        <div class="col-lg-6">

            <div class="card shadow-sm h-60">
                <div class="card-header">
                    <h5 class="mb-0">Hub's Hook Information</h5>
                </div>
                <div class="card-body panellog-box">
                    <table class="table table-striped align-middle mb-0">
                        <tbody id="hookInfoTable" class="listMessage hookInfoTable">
                            <!-- filled by JS -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <!-- CONNECTED CLIENTS GRID -->
            <div class="card shadow-sm h-60">
                <div class="card-header d-flex justify-content-between align-items-center">                    
                    <h5 class="mb-0">Connected Hooks</h5><button class="btn btn-success" onclick="callHookAction('/Hub/GetAllHookConnections')">Update</button>
                </div>
                <div class="card-body panel log-box">
                    <table>
                        <tbody id="listUsers" class="listMessage ">
                            <!-- JS fills rows -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- INVISIBLE CONTROLS -->
        <div class="controls-hidden">
            <input type="button" id="btnConnect" />
            <input type="button" id="btnSend" />

            <input type="text" id="url" readonly value="@Url.Content("~/HOOKHUBNET")" />
            <input type="text" id="hookNameFrom" readonly value="@(Model.HookConnection.HookName)" />
            <input type="text" id="hookNameTo" readonly value="@(Model.HookConnection.HookName)" />
            <input type="text" id="message" />
        </div>

    </div>

        <div class="row g-3 pt-4">
            <!-- LOG MESSAGES -->
            <div class="card shadow-sm h-40">
                <div class="card-body client-grid">
                    <div class="card-body panel log-box">
                        <ul id="listMessage" class="listMessage"></ul>
                    </div>
                </div>
            </div>
        </div>
</div>